<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ShipmentContext" connectionString="data source=(localdb)\mssqllocaldb;initial catalog=mariia_suvalova_cdp2017q1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>